<p id="notice"><%= notice %></p>

<h1>Movies</h1>

<table class="table table-dark">
  <thead>
    <tr>
      <th scope= "col">Name</th>
      <th scope="col">Description</th>
      <th scope= "col">Picture</th>
      <th scope= "col">Year</th>
      <th scope= "col">Director</th>
      <th scope= "col">Trailer</th>
      <th scope= "col">Rating</th>
      <th scope= "col">Imbdlink</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td scope="row"><%= movie.name %></td>
        <td scope="row"><%= movie.description %></td>
        <td scope="row"><%= image_tag(movie.picture_url, :width => 600) if movie.picture.present? %></td>
        <td scope="row"><%= movie.year %></td>
        <td scope="row"><%= movie.director %></td>
        <td scope="row"><a href="<%= movie.trailer %>">Trailer</a></td>
        <td scope="row"><%= movie.rating %></td>
        <td scope="row"><%= movie.imbdLink %></td>
        <td scope="row"><%= link_to 'Show', movie %></td>
        <td scope="row"><%= link_to 'Edit', edit_movie_path(movie) %></td>
        <td scope="row"><%= link_to 'Destroy', movie, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Movie', new_movie_path %>
